@charset "UTF-8";

body {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: black;
  color: white;
}

a:link, a:visited
{
 	text-decoration:none;
}

li, a
{
	text-decoration: none;
  color: white;
  transition: color .5s;
}

.zoom { transition: all .2s ease-in-out; }
.zoom:hover {
  transform: scale(1.1);
}

.hidden { display: none; }

#container {
  width: 1280px;
  padding: 0 10px 0 10px;
  margin: 0 auto; /* quick center */
}

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainNav {
  display: flex;
  flex-direction: row;
  float: right;
  height: 40px;
  margin: 30px 40px 0 0;
  text-align: center;
}

.navLink {
  margin: 20px;
  height: 40px;
  font-size: 30px;
  font-weight: 300;

}

#subNav {
  height: 40px;
  width: 650px;
  background-color: #23550b;
}

#logo {
  margin: 20px;
  height: 70%;
  width: 70%;
}

#wideCon {
  display: flex;
  flex-direction: column;
}
.imText {
  position: absolute;
  bottom: 20px;
  left: 60px;
  color: white;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 60px;
  font-weight: 600;
  line-height: 100px;
  opacity: .6;
  background-color: black;
}


/* hero shot */
#hisResCon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

.bottomImage {
  width: 400px;
  height: 500px;
  margin: 50px;
}

#featuredImageDesc {
  /* background-color: #75687a; */
  width: 700px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 0;
}

#wideImage1 {
  background-color: #3a5445;
  margin-top: 30px;
  position: relative;
}

#wideImage2 {
  background-color: #3a5445;
  margin-top: 30px;
}

#wideImage3 {
  background-color: #3a5445;
  margin-top: 30px;
}
.imcon3 {
    position: relative;
    display: inline-block;
}
.imText3 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    font-size: 60px;
}

#socialMedia {
  display: flex;
  flex-direction: row;
  width: 330px;
  justify-content: space-between;
  margin-bottom: 40px;
}

#socialMedia div {
  width: 100px;
  height: 50px;
  background-color: #e0b1cf;
}

#promoText {
  width: 330px;
  height: 310px;
  background-color: #251e40;
}

footer {
  font-size: 24px;
  font-weight: 700;
}

#mainFooter {
  width: 1280px;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c3c9cd;
}

.footerLink {
  margin: 20px;
}

#footerP {
  margin-left: 20px;
}

#leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

#socialCon {
  display: flex;
  flex-direction: row;
}

.sIcon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
}

/*RESPONSIBILITY PAGE*/
#resCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resImg {
    width: 400px;
    height: 500px;
    margin: 50px;
}

.resImg2 {
    margin-bottom: 50px;
}

.resDesc {
  font-size: 20px;
  font-weight: 300;
  padding: 0 80px;
  margin-bottom: 40px;
}
