@charset "UTF-8";

img {

}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  background-color: black;
  color: white;
}



a:link, a:visited
{
 	text-decoration:none;
}

li, a
{
	text-decoration: none;
  color: white;
  transition: color .5s;
}

.zoom { transition: all .2s ease-in-out; }
.zoom:hover {
  transform: scale(1.1);
}

.hidden { display: none; }

#logo {
  display: none;
  width: 100%;
  position: fixed;
  align-self: center;
}
/*
#mainNav {
  text-align: center;
  position: fixed;
  width: 100%;
  background: rgba(204, 34, 43, 0.4);
}*/

#mainHeader {
  background: rgba(204, 34, 43, 0.4);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 50px;
}

#navCon {
  position: absolute;
  text-align: left;
  top: 100%;
  background: rgba(204, 34, 43, 0.4);
  width: 100%;

}

nav {
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav a {
  opacity: 0;
  transition:  opacity 150ms ease-in-out;
}

.navLink {
  margin: 15px 0 15px 15px;;
  font-weight: 300;
}

.navToggle {
  display: none;
}

.navToggleLabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navToggleLabel span::before,
.navToggleLabel span::after {
  content: '';
  position: absolute;
}

.navToggleLabel span::before {
  bottom: 7px;
}

.navToggleLabel span::after {
  top: 7px;
}


.navToggle:checked ~ nav {
  transform: scale(1, 1);
  opacity: 1;
}

.navToggle:checked ~ nav a {
  opacity: 1;
  transition:  opacity 250ms ease-in-out 250ms;

}





#wideImage1 {
  background-color: #3a5445;
  margin-top: 200px;

  width: 100%;
  height: auto;
}

#wideImage2 {
  background-color: #3a5445;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

#wideImage3 {
  background-color: #3a5445;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.bottomImage {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

#logo2 {
  width: 70%;
}

.sIconCon{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sIcon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.footerLink {
  margin-top: 10px;
  font-size: 0.5em;
  font-weight: 300;
  text-align: center;
}

#footerP {
  font-size: 0.5em;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

/* media query for tablet - 768px */
@media screen and (min-width: 48em) {
  #container {
    padding: 0 10px 0 10px;
    margin: 0 auto; /* quick center */
  }

  #mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #mainNav {
    display: flex;
    flex-direction: row;
    float: right;
    height: 40px;
    margin: 30px 40px 0 0;
    text-align: center;
  }

  .navLink {
    margin: 20px;
    height: 40px;
    font-size: 30px;
    font-weight: 300;

  }

  #subNav {
    height: 40px;
    width: 650px;
    background-color: #23550b;
  }

  #logo {
    margin: 20px;
    height: 70%;
    width: 70%;
    min-width: 200px;
  }

  #wideCon {
    display: flex;
    flex-direction: column;
  }
  .imText {
    position: absolute;
    bottom: 20px;
    left: 60px;
    color: white;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: 100px;
    opacity: .6;
    background-color: black;
  }


  /* hero shot */
  #hisResCon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }

  .bottomImage {
    width: 400px;
    height: 500px;
    margin: 50px;
  }

  #featuredImageDesc {
    /* background-color: #75687a; */
    width: 700px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  #wideImage1 {
    background-color: #3a5445;
    margin-top: 30px;
    position: relative;
  }

  #wideImage2 {
    background-color: #3a5445;
    margin-top: 30px;
  }

  #wideImage3 {
    background-color: #3a5445;
    margin-top: 30px;
  }
  .imcon3 {
      position: relative;
      display: inline-block;
  }
  .imText3 {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 40%;
      font-size: 60px;
  }

  #socialMedia {
    display: flex;
    flex-direction: row;
    width: 330px;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  #socialMedia div {
    width: 100px;
    height: 50px;
    background-color: #e0b1cf;
  }

  #promoText {
    width: 330px;
    height: 310px;
    background-color: #251e40;
  }

  footer {
    font-size: 24px;
    font-weight: 700;
  }

  #mainFooter {
    width: 1280px;
    margin: 0 auto;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c3c9cd;
  }

  .footerLink {
    margin: 20px;
  }

  #footerP {
    margin: 20px 0 50px 20px;
    font-size: 0.7em;
    text-align: left;
  }

  .footerLink {
    font-size: 0.7em;
    text-align: left;
  }

  #leftMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }

  #socialCon {
    display: flex;
    flex-direction: row;
  }

  .sIcon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  /*RESPONSIBILITY PAGE*/
  #resCon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resImg {
      width: 400px;
      height: 500px;
      margin: 50px;
  }

  .resImg2 {
      margin-bottom: 50px;
  }

  .resDesc {
    font-size: 20px;
    font-weight: 300;
    padding: 0 80px;
    margin-bottom: 40px;
  }
}

/*  C O N T A C T   P A G E */

/* Mobile first*/
body {
  font-size: 0.8em;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  background: url("images/hero2.jpg");
  background-size: cover;
}

.contact .content {
  text-align: center;
  max-width: 800px;
}

.content h2 {
  font-size: 2em;
  font-weight: 300;
  color: red;
}

.content p {
  font-weight: 300;
  color: #fff;
}

.text p {
  font-size: 1em;
  font-weight: 300;
  min-width: 40%;
}

.conContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  position: relative;
  padding: 10px
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  font-size: 1em;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}

.conContainer h3 {
  color: #fff;
  font-weight: 500;
}

.contactForm {
  background: #fff;
  padding: 50px;
  width: 100%;
  margin-top: 20px;
}

.contactForm h2 {
  color: black;
  font-size: 1em;
  font-weight: 500;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.inputBox span {
  color: black;
  font-weight: 300;
  font-size: 1em;
  position: absolute;
  left: 0;
  padding: 5px 0;
  transition: 0.5s;
  color: #666;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  font-size: 0.8em;
  transform: translateY(-10px);
}


.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1em;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  resize: none;
  font-size: 1em;
  overflow: auto;
}

.inputBox textarea {
font-family: 'Karla', sans-serif;
font-size: 0.8em;
}


@media screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    background: url("images/hero2.jpg");
    background-size: cover;
  }

  .contact .content {
    text-align: center;
    max-width: 800px;
  }

  .content h2 {
    font-size: 2em;
    font-weight: 300;
    color: red;
  }

  .content p {
    font-weight: 300;
    color: #fff;
  }

  .conContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 30px;

  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .box {
    display: flex;
    position: relative;
    padding: 20px
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    font-size: 1em;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
  }

  .conContainer h3 {
    color: #fff;
    font-weight: 500;
  }

  .contactForm {
    background: #fff;
    padding: 40px;
    width: 40%;
  }

  .contactForm h2 {
    color: black;
    font-size: 1em;
    font-weight: 500;
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .inputBox span {
    color: black;
    font-weight: 300;
    font-size: 0.8em;
    position: absolute;
    left: 0;
  }

  .inputBox input,
  .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1em;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    resize: none;
    font-size: 1em;
  }

  .inputBox textarea {
  font-family: 'Karla', sans-serif;
  font-size: 0.8em;
  }
}
